<div>
  <div class="plant-list-slide">
    <div class="sticky-top">
      <div class=" simple_form search d-flex p-1 m-3 grid-search-bar sticky-top justify-content-center">
        <%= form_with url: "#", method: :get, class: "search-form-control-phaf form-group" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search a plant in your garden"
          %>
          <%# <%= submit_tag "Search", class: "btn btn-search" %>
        <% end %>
      </div>
      <%# <%= render "shared/searchbar_side" %>
    </div>
    <div class="plant-list-slide plant-list-grid">
      <% site_plants.each do |site_plant| %>
        <%= link_to site_site_plant_path(site, site_plant) do %>
          <div class="card-plant-list">
            <%= cl_image_tag site_plant.plant.photo.key, height: 300, crop: :fill %>
            <div class="card-plant-list-infos">
              <h2><%= site_plant.plant.latin_name %></h2>
              <p><%= site_plant.plant.common_name %></p>
              <p>Planted on:&nbsp&nbsp<%= site_plant.created_at.strftime("%-d/%-m/%y") %></p>
            </div>
            <%# LINK BUTTONS %>

          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
