<div class="d-flex">
  <%= render "shared/sidebar_btns", site: @site %>
  <%= render "site_plants/index", site:@site, site_plants: @site_plants %>
  <div class="scroll-content">
  <% if @site_plant %>
    <div class="info-show">
      <h2><%= @site_plant.plant.latin_name %></h2>
      <h2><%= @site_plant.plant.common_name %></h2>
      <p><%=  @site_plant.plant.summary %></p>
      <p><%=  @site_plant.plant.type %></p>
      <p><%=  @site_plant.plant.plant_type %></p>
      <p><%=  @site_plant.plant.family %></p>

      <div><%= @site_plant.plant.image_url %> <%= "image_url" %></div>

      <div class="simple-card">
        <p>Width: <%=  @site_plant.plant.width %></p>
        <p>Height: <%=  @site_plant.plant.height %></p>
        <p>Hadiness Low: <%=  @site_plant.plant.usa_hardiness_low %></p>
        <p>Hadiness Hight: <%=  @site_plant.plant.usa_hardiness_high %></p>
      </div>


      <div>
        <div class="info-char"><%= "This plant can fix nitrogen" if @site_plant.plant.n_fixer %></div>
        <div class="info-char"><%= "Needs good drainage" if @site_plant.plant.well_drained %></div>
        <div class="info-char"><%= "I need moist soil. Not too wet" if @site_plant.plant.moist_soil %></div>
        <div class="info-char"><%= "I need wet soil!" if @site_plant.plant.wet_soil %></div>
        <div class="info-char"><%= "Water it often!" if @site_plant.plant.water_plant %></div>
        <div class="info-char"><%= "Full sun" if @site_plant.plant.full_sun %></div>
        <div class="info-char"><%= "Part Shade" if @site_plant.plant.part_shade %></div>
        <div class="info-char"><%= "Full shade" if @site_plant.plant.full_shade %></div>
        <div class="info-char"><%= "Good to bed close to the sea" if @site_plant.plant.maritime_exposure %></div>
        <div class="info-char"><%= "Helps with atmospheric polution" if @site_plant.plant.atmospheric_polution %></div>
      </div>

      <div>
        <div><%= @site_plant.plant.medicinal_uses if @site_plant.plant.medicinal_rating %></div>
      </div>

      <div>
        <div><%= @site_plant.plant.edible_uses if @site_plant.plant.edible_uses %></div>
      </div>

      <div>
        <div><%= "Helps with atmospheric polution" if @site_plant.plant.edible_uses %></div>
      </div>

      <div>
        <p><%= @site_plant.plant.cultivation_details %></p>
        <p><%= @site_plant.plant.propagation_details %></p>
      </div>

      <div>
        <%= @logs = Log.where(site_id: @site.id, site_plant_id: @site_plant.id) %>
        <%= @logs.each do |log| %>
          <div>
          </div>
        <% end %>
      </div>

      <div class="sticky-button d-flex justify-content-center">
        <%= link_to "New log", new_site_log_path(site_id: @site.id, site_plant_id: @site_plant.id), class: "btn-big" %>
      </div>

    </div>

  <% else %>
    <div>
      <h2>Hi! You haven't planted anything yet.</h2>
      <div class="button-side-bar sticky-bottom">
        <%= link_to "Search plants for your backyard!", site_search_path(site), class: "btn btn-ghost light" %>
      </div>
    </div>
  <% end %>

</div>

</div>
