
<div class="scroll-content background-color">
  <div class="scroll">
    <div>
      <%# PROJECT INFO %>
      <div class="d-flex justify-content-between site-show-container">
      <div>
        <h1 class="name-site"><%= site.project_name %></h1>
        <p><strong><%= site.project_type %></strong></p>
    </div>


      <%# WEATHER FORECAST %>
        <div class="site-detail-info"></div>
        <%= render "shared/weather_forecast", site: @site %>
      </div>
    </div>
    <br>
    <br>
  <div>
<div class="d-flex pb-4">
  <div class="btn-goback-newlog mx-4">
    <%= link_to "New log", new_site_log_path(site), class:"" %>
    <%#= link_to "go back", sites_path, class:"ml-3" %>
  </div>

  <div class="btn-goback-newlog">
    <%#= link_to "New log", new_site_log_path(site), class:"mr-3" %>
    <%= link_to "Go back", sites_path, class:"" %>
  </div>
</div>
  <%# LOGS %>

<div class="container" style="">
    <div class="row">
    <% site.logs.each do |log| %>
      <div class="col-3">
        <div style="border-right: 2px solid black; height: 60%; margin: 5px 0 5px 5px;"></div>
        <div style="text-align: right; position: relative; left: 7px;"><%= log.created_at.strftime("%d / %m / %Y") %> <i class="fa-solid fa-circle"></i></div>
        <div style="border-right: 2px solid black; height: 60%; margin: 5px 0 5px 5px;"></div>
      </div>
      <div class="log-card col-9" >
        <div class="real-logg-card" style="position: relative; top: 18px;">

          <div class="p-3">
            <div class="d-flex">

              <div>
                <h3><%= log.title %></h3>
              </div>

            </div>
            <p>
              <div class="seemore">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#<%= log.title %>" aria-expanded="false" aria-controls="collapseExample">
                  See more
                </button>
              </div>
              <div class="collapse" id="<%= log.title %>">
                <div class="card card-body">
                  <% if log.photos.attached? %>
                    <% log.photos.each do |photo| %>
                      <%= cl_image_tag photo.key, height: 150, width: 200, crop: :fill %>
                    <% end %>
                  <% end  %>
                  <%= log.description %>
                </div>
              </div>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<
