
<div class="scroll-content background-color">
  <div >
    <div>
      <%# PROJECT INFO %>
      <div class="d-flex justify-content-between card-wide-top">
        <div class="card-wide-top-info">
          <h1><%= site.project_name %></h1>
        </div>
        <div class="card-wide-top-info d-flex">
          <p>My <%= site.project_type %>'s goal:</p>
          <p><%= site.goals %></p>
        </div>
        <div>
          <%= render "shared/weather_forecast", site: @site %>
        </div>


        <%# WEATHER FORECAST %>
      </div>
    </div>
  <div>
<%# <div class="d-flex pb-4">
  <div class="btn-goback-newlog mx-4">
    <%= link_to "New log", new_site_log_path(site), class:"" %>
    <%#= link_to "go back", sites_path, class:"ml-3" %>
  <%# </div> %>

  <%# <div class="btn-goback-newlog">
    <%#= link_to "New log", new_site_log_path(site), class:"mr-3" %>
    <%# <%= link_to "Go back", sites_path, class:"" %>
  <%# </div> %>
<%# </div> %>
  <%# LOGS %>

<div class="sticky-button d-flex justify-content-center btn-goback-newlog">
  <%= link_to "New log", new_site_log_path(site) %>
</div>

<div class="container" style="">
  <% if site.site_plants != [] %>
    <div class="row">
      <% @logs.each do |log| %>
        <div class="col-3">
          <div style="border-right: 2px solid black; height: 60%; margin: 5px 0 5px 5px;"></div>
          <div style="text-align: right; position: relative; left: 7px;"><%= log.date.strftime("%d / %m / %Y") %> <i class="fa-solid fa-circle"></i></div>
          <div style="border-right: 2px solid black; height: 60%; margin: 5px 0 5px 5px;"></div>
        </div>
        <div class="log-card col-9" >
          <div class="real-logg-card" style="position: relative; top: 18px;">

            <div class="p-3">
              <div class="d-flex">

                <div>
                  <h3><%= log.title %></h3>
                </div>

              </div>
              <p>
                <div class="arrow text-center down-arrow d-flex align-items-start" data-bs-toggle="collapse" data-bs-target="#<%= log.title %>" aria-expanded="false" aria-controls="collapseExample">
                  <i class="fa-solid fa-chevron-down fa-5x"></i>
                </div>
                <div class="collapse" id="<%= log.title %>">
                  <div class="card card-body">
                    <% if log.photos.attached? %>
                      <% log.photos.each do |photo| %>
                        <%= cl_image_tag photo.key, height: 150, width: 200, crop: :fill %>
                      <% end %>
                    <% end  %>
                    <%= log.description %>
                  </div>
                </div>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="d-flex align-items-center justify-content-center no-plants">
      <h1> Ready to start rewiliding? <%= link_to "Click to start planting", site_search_path(site) %>. </h1>
    </div>
  <% end %>
</div>
