<div class="scroll-content light-background">
  <div class="scroll">
    <div class="d-flex">
      <%# PROJECT INFO %>
      <div>
        <h1 class="name-site" >My Site</h1>
        <%= @site.project_name %>
        <%= link_to "go back", sites_path %>
      </div>


      <%# WEATHER FORECAST %>
      <%= render "shared/weather_forecast"%>
    </div>
    <br>
    <br>
  <div>

  <%# LOGS %>
  <% @site.logs.each do |log| %>
    <div>
      <%= log.created_at %>
    </div>
    <div>
      <%= log.title %>
    </div>
    <div>
      <%= log.description %>
    </div>

    <% if log.photos.attached? %>
      <% log.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    <% end %>
  <% end %>
