<div class="container scroll-content dark-background">

  <div class=" simple_form search d-flex p-2 grid-search-bar sticky-top justify-content-center">
    <%= form_with url: "#", method: :get, class: "search-form-control-phaf form-group" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a plant for your garden"
      %>
      <%= submit_tag "Search", class: "btn btn-flat" %>
    <% end %>
  </div>

<%# this grid shows all the plants from our database PLANTS %>
  <div class=" container grid-search-cards">
    <% @plants.each do |plant| %>
      <div class="card-plant-grid flip-card">
        <p><%= plant.image_url %></p>
        <div class="flip-card-inner">
          <div class="flip-card-front" style="background-image: url(<%= plant.image_url %>)">
            <h2><%= plant.latin_name %></h2>
            <p><%= plant.common_name %><p>
          </div>
          <div class="flip-card-back">
            <p><%= plant.physical_characteristics %></p>
            <%=  link_to site_site_plants_path(@site, plant_id: plant.id), data: { turbo_method: :post, turbo_confirm: "Add this plant to yout site?" } do %>
              <i class="fa-solid fa-plus plus-icon" data-action="click->modal#open"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
