<div class="proj-dasboard">
  <%# SIDEBAR %>
  <div class="sidebar">
    <div class="logo">
      <%= link_to sites_path do %>
        <div class="btn-side-bar bckg-none">
          <%= show_svg('logo/Ryb_50.svg') %>
        </div>
      <% end %>
    </div>

    <%# MIDDLE BUTTONS %>
    <div class="action-btns">
      <div class="btn-side-bar tab-selected">
        <%= link_to site_search_path(site) do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>

      <div class="btn-side-bar">
      <%= link_to site_nursury_path(site) do %>
          <i class="fa-solid fa-leaf"></i>
        <% end %>
      </div>

      <div class="btn-side-bar tab-selected">
        <%= link_to plants_path do %>
          <i class="fa-solid fa-seedling"></i>
        <% end %>
      </div>

    <%# if we want to add the index of logs I have the code in notion. %>
      <div class="btn-side-bar">
        <%= link_to site_path(site) do %>
          <i class="fa-solid fa-folder"></i>
        <% end %>
      </div>
    </div>

    <%# SETTINGS BUTTONS %>
      <div class="settings-btns">
      <%# <div class="btn-side-bar bckg-none">
        <i class="fa-solid fa-gear"></i>
      </div> %>
      <div class="btn-side-bar bckg-none">
        <i class="fa-solid fa-user"></i>
      </div>
    </div>
  </div>
</div>
