<div class="proj-dasboard">
  <%# SIDEBAR %>
  <div class="sidebar">
    <div class="logo">
      <%= link_to sites_path do %>
        <div class="btn-side-bar bckg-none">
          <%= show_svg('logo/Ryb_45.svg') %>
        </div>
      <% end %>
    </div>

    <%# MIDDLE BUTTONS %>
    <div class="action-btns">
      <div class="btn-side-bar middle-buttons tab-selected">
        <%= link_to site_search_path(site) do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>

      <div class="btn-side-bar middle-buttons">
        <% if site.site_plants %>
          <%= link_to site_site_plant_path(site, site.site_plants.last || "empty") do %>
            <i class="fa-solid fa-leaf"></i>
          <% end %>
        <% else %>
          <i class="fa-solid fa-leaf inactive"></i>
        <% end %>
      </div>

    <%# if we want to add the index of logs I have the code in notion. %>
      <div class="btn-side-bar middle-buttons">
        <%= link_to site_path(site) do %>
          <%# <i class="fa-solid fa-folder"></i> %>
          <i class="fas fa-book"></i>
        <% end %>
      </div>
    </div>

    <%# SETTINGS BUTTONS %>
    <div class="settings-btns">
      <%# <div class="btn-side-bar bckg-none">
        <i class="fa-solid fa-gear"></i>
      </div> %>
      <div class="btn-side-bar bckg-none">
        <i class="fa-solid fa-user"></i>
      </div>
    </div>
  </div>
</div>
