<%# LOGS %>
<div>
  <div class="plant-list-slide">
    <div class="top-bar-list sticky-top">
      <h2>My logs</h2>
      <%= render "shared/searchbar_side" %>
    </div>

    <div class="plant-list-slide plant-list-grid">
      <% @site.logs.each do |log| %>
        <div class="card-plant-list">
          <div class="card-plant-list-infos">
            <h2> <%= log.title %> </h2>
            <p><strong>Created on: <%= log.created_at %></strong></p>
          <% if  log.photos.attached? %>
            <%= cl_image_tag log.photos.first.key, height: 300, width: 400, crop: :fill %>
          <% end %>
        <% end %>
      </div>
    </div>

      <div class="button-side-bar sticky-bottom">
        <%= link_to "New log", new_site_log_path(site), class: "btn btn-ghost light"%>
      </div>
  </div>
</div>
