<div>
  <div class="plant-list-slide">
    <div class="top-bar-list sticky-top">
      <h2>My logs</h2>
      <%= render "shared/searchbar_side" %>
    </div>

    <div class="plant-list-slide plant-list-grid">
      <div class="card-plant-list">
        <%= image_tag("plant_example.jpg", :alt => "rss feed") %>
        <div class="card-plant-list-infos">
          <h2>Title of log</h2>
          <p>22 of november, 2022</p>
        </div>
      </div>

      <div class="card-plant-list">
        <%= image_tag("plant_example.jpg", :alt => "rss feed") %>
        <div class="card-plant-list-infos">
          <h2>Title of Log</h2>
          <p>22 of November, 2022</p>
        </div>
      </div>

      <div class="card-plant-list">
        <%= image_tag("plant_example.jpg", :alt => "rss feed") %>
        <div class="card-plant-list-infos">
          <h2>Title of log</h2>
          <p>21 of November, 2022</p>
        </div>
      </div>
    </div>

    <div class="button-side-bar sticky-bottom">
      <%= link_to "New log", new_site_log_path(site), class: "btn btn-ghost light"%>
    </div>
  </div>
</div>
