<div class="project-cards">
  <% @sites.each do |site| %>
    <%= link_to site_path(site) do %>
      <div class="site-card">
        <% if site.photo.attached? %>
          <div class="site-img">
            <%= cl_image_tag site.photo.key %>
          </div>
        <% else %>
          <div class="site-img">
            <%#= image_tag 'IMG_0376.jpeg' %>
          </div>
        <% end %>

        <%# SITE INFO %>
        <div class="site-tags">
          <div>
            <h2><%= site.project_name %></h2>
            <h3><strong>Location: </strong><%= site.address %></h3>
            <h3><strong>Project type:&nbsp&nbsp&nbsp</strong><%= site.project_type %></h3>
            <h3><strong>Project goals:&nbsp&nbsp&nbsp</strong><%= site.goals %></h3>
            <h3><strong>Project start date:&nbsp&nbsp&nbsp</strong><%= site.project_start_date %></h3>
          </div>
          <div id="site-crud-btns">
            <%= link_to edit_site_path(site) do %>
              <i class="fa-solid fa-pen"></i>
            <% end %>
            <%= link_to site_path(site) ,data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
