

<!-- // Search bar pfaf -->


<!-- // Greenhouse / Plant Card Front and back -->


<!-- // Green house / Card list -->


<!-- // Search bar for cards -->


<!-- // Search bar for slide bar -->

<!-- // Card list logs -->

<!-- // Nav bar landing page -->

<!-- // Card Projects -->

<!-- // Calendar -->


<!-- // Green house / Card list -->

<br>
<br>
<div class="container">
  <h2>button</h2>
</div>
<div>
  <div class="button-side-bar sticky-bottom">
    <a class="btn btn-ghost light" href="#">New log</a>
  </div>
</div>


<div class="container">

  <div>
    <div class="card-plant-list">
      <%= image_tag("plant_example.jpg", :alt => "rss feed") %>
      <div class="card-plant-list-infos">
        <h2>Latin name</h2>
        <p>Comun name</p>
      </div>
    </div>
  </div>

  <br>
  <h1>Side bar for "My Plants"</h1>
</div>

<div>
  <div class="plant-list-slide">
    <div class="top-bar-list sticky-top">
      <i data-feather="filter"></i>
      <div class="search-bar">
      </div>
  </div>

  <div class="plant-list-slide plant-list-grid">
    <div class="card-plant-list">
      <%= image_tag("plant_example.jpg", :alt => "rss feed") %>
      <div class="card-plant-list-infos">
        <h2>Latin name</h2>
        <p>Popular name</p>
      </div>
    </div>

    <div class="card-plant-list">
      <%= image_tag("plant_example.jpg", :alt => "rss feed") %>
      <div class="card-plant-list-infos">
        <h2>Latin name</h2>
        <p>Popular name</p>
      </div>
    </div>

    <div class="card-plant-list">
      <%= image_tag("plant_example.jpg", :alt => "rss feed") %>
      <div class="card-plant-list-infos">
        <h2>Latin name</h2>
        <p>Popular name</p>
      </div>
    </div>
  </div>
</div>

<br>
<div class="container">
  <h2>Side bar for "Logbook"</h2>
</div>


<div>
  <div class="plant-list-slide">
    <div class="top-bar-list sticky-top">
      <i data-feather="filter"></i>
      <div class="search-bar">
      </div>
  </div>



  <div class="plant-list-slide plant-list-grid">
    <div class="card-plant-list">
      <%= image_tag("plant_example.jpg", :alt => "rss feed") %>
      <div class="card-plant-list-infos">
        <h2>Title of log</h2>
        <p>22 of november, 2022</p>
      </div>
    </div>

    <div class="card-plant-list">
      <%= image_tag("plant_example.jpg", :alt => "rss feed") %>
      <div class="card-plant-list-infos">
        <h2>Title of Log</h2>
        <p>22 of November, 2022</p>
      </div>
    </div>

    <div class="card-plant-list">
      <%= image_tag("plant_example.jpg", :alt => "rss feed") %>
      <div class="card-plant-list-infos">
        <h2>Title of log</h2>
        <p>21 of November, 2022</p>
      </div>
    </div>
  </div>

  <div class="button-side-bar sticky-bottom">
    <a class="btn btn-ghost light" href="#">New log</a>
  </div>
</div>


<%# ------ %>

<br>
<div class="container">
  <h2>Side bar for "Logbook" with filters</h2>
</div>

<div class="filter-list-container">

  <div class="filter-slide-container">
    <div class="filter-group">
    <div class="form-check filter-name">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label check-filter" for="flexCheckDefault">Ground layers</label>
    </div>

    <div class="form-check filter-name">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label check-filter" for="flexCheckDefault">Ground layers</label>
    </div>
    </div>

    <div class="form-check filter-name">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label check-filter" for="flexCheckDefault">Ground layers</label>
    </div>

    <div class="form-check filter-name">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label check-filter" for="flexCheckDefault">Ground layers</label>
    </div>
</div>


<%# ------ %>
<br>
<div class="container">
  <h2>Side bar for 1 SITE</h2>
</div>

<div class="action-btns">
      <div class="btn-side-bar tab-selected">
        <%= link_to "#" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>
      <div class="btn-side-bar tab-selected">
        <%= link_to "#" do %>
          <i class="fa-solid fa-seedling"></i>
        <% end %>
      </div>
      <div class="btn-side-bar">
       <%= link_to "#" do %>
          <i class="fa-solid fa-leaf"></i>
        <% end %>
      </div>
      <div class="btn-side-bar">
        <%= link_to "#" do %>
          <i class="fa-solid fa-book"></i>
        <% end %>
      </div>
      <div class="btn-side-bar">
        <%= link_to "#" do %>
          <i class="fa-solid fa-folder"></i>
        <% end %>
      </div>
    </div>


<%# ------ %>
<br>
<br>
<div class="container">
  <h2>Cards</h2>
</div>

<div class="grid-search-cards">
  <div class="card-plant-grid"></div>
  <div class="card-plant-grid"></div>
  <div class="card-plant-grid"></div>
</div>
