<div class="d-flex scroll-content">
  <%= render "shared/sidebar_btns", site: @site %>
  <%= render "shared/all_logs", log: @log, site: @site %>
  <%= render "shared/sidebar_planted", site: @site  %>
  <%# <%= render "logs/show", log: @log, site: @site %>

  <%# <%= render "plant/show", plant: @plant, site: @site %> %>
</div>
