<div class="d-flex">
  <div class="container_simple_form">
    <%= simple_form_for [@site, @log] do |f| %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.input :date %>
      <%= f.input :title %>
      <%= f.input :site_plant_id, collection: @plants%>
      <%= f.input :description %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
