<%#= render "shared/navbar", site: @site %>
<%# <% <%= render "shared/navbar" %>

<%# NAVBAR %>
<%# <%= image_tag "app/assets/images/Logo.png" %>
<div id="page-container">
  <div id="content-wrap">
    <div class="ryb-navbar ">
      <div class="navbar-links px-2">
        <div class="logo">
        </div>
        <div class="px-3">
          <%= link_to "All sites", sites_path, class: "nav-link" %>
        </div>
        <div class="px-3">
          <%= link_to "Community", sites_path, class: "nav-link" %>
        </div>
      </div>

        <div class="navbar-links px-2">
          <div class="px-3">
            <%= link_to "My RYB", sites_path, class: "nav-link" %>
          </div>
          <div class="px-3">
            <%= link_to "Login", sites_path, class: "nav-link" %>
          </div>
        </div>
    </div>

    <%# CENTRAL CONTAINER %>

    <div class="page-container">

      <%# PROJECTS %>
      <div class="projects-container">

        <div class="my-projs card">
          <div class="text-header">
            <div>
              <p>My sites</p>
            </div>
            <div>
              <a class="btn-small" href="#">See on map</a>
            </div>
          </div>
          <%# Project cards %>
          <div class="proj-list">
            <%= render "shared/site_list" %>
          </div>
        </div>

        <div class="community-projs card">
          <div class="text-header">
            <div>
              <p>Projects in your community</p>
            </div>
            <div>
              <a class="btn-small" href="#">See on map</a>
            </div>
          </div>
        </div>
      </div>

      <%# PROJECT INFO CONTAINER %>
      <div class="project-info-container">
        <div class="text-header">
          <p>Project Owner</p>
        </div>
      </div>
    </div>

    <%# FOOTTER %>
    <div class="ryb-footer" id="footer">
      <div class="footer-links icons">
        <a href="#"><i class="fab fa-instagram px-2 nav-link"></i></a>
        <a href="#"><i class="fab fa-facebook px-2 nav-link"></i></a>
        <a href="#"><i class="fab fa-twitter px-2 nav-link"></i></a>
      </div>
      <div class="footer-links px-2">
        <div class="px-3">
          <%= link_to "About RYB", sites_path, class: "nav-link" %>
        </div>
        <div class="px-3">
          <%= link_to "Contact Us", sites_path, class: "nav-link" %>
        </div>
        <div class="px-3">
          <%= link_to "The team", sites_path, class: "nav-link" %>
        </div>
      </div>
    </div>
  </div>

  <%# Map  %>
  <%# <%= render "shared/map_all_sites" %>
</div>
